  .foot-container {
    background-color: #2c3e50;
    padding-top: 40px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 30px;
    margin: 800px 0 0 15px;
  }
  
  .footer-l {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .footer-m {
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
  }

  .green {
    color: #18bc9c;
  }

  .footer-s {
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    margin-top: 80px;
  }
  