/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@900&display=swap'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  background-color: #2c3e50;
  padding: 25px 100px;
  margin: 15px 0 0 15px;
}

h1 {
  color: aliceblue;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding-left: 400px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: aliceblue;
}
