.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-top: 80px;
  }

  .title2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
  }

  .black-star {
    color: #303e49;
    font-size: 38px;
    position: relative;
    bottom: 15px;
    left: 4px;
  }

  .divider-line-black {
    border-bottom: 5px solid #303e49;
    width: 90px;
    position: relative;
    bottom: 10px;
    left: 15px;
  }

  .img-individual-container {
    padding-bottom: 30px;
    margin-right:-75px;
  }

  .img-container {
    justify-content: center;
  }

  .img-portfolio {
    height: 100%;
    width: 320px;
  }
